/*
    Navbar
 */
.ncbi-navbar {
    overflow: hidden;
    background-color: #336699 !important;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
}
.ncbi-nav-elements-container{
    padding-top: 8px;
}
.ncbi-brand-title {
    font-size: 30px !important;
    font-weight: 800;
    padding-left: 10px;
    color: #fff;

}

.ncbi-navbar  .ncbi-nav-element {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
}
.ncbi-nav-select{
    background-color: #fff;
    border: 1px solid #fff;
    font-size: 18px;
    color: #515A5A;
    margin-top: 2px;
    border-radius: 5px;
}
.ncbi-nav-select-option{
    padding: 20px 5px;
}

.ncbi-course-manager{
    font-size: 26px;
    font-weight: bold;
}

.ncbi-nav-search{
    width: 60%;
}

.ncbi-new-query{
    width: 100%;
    /*background-color: #6199F6;*/
    /*color: #fff;*/
    color: #515A5A;
    border: transparent;
    padding: 10px;
    border-radius: 5px;
}

.ncbi-new-query::placeholder{
    /*color: #DFE2E3;*/
}
.ncbi-new-query:focus{
    outline: none;
}



.ncbi-search-btn{
    font-size: 25px !important;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #336699;
    color: #fff;
    border:1.5px solid #ffffff;
}

/*
    Search Body
*/
.ncbi-search-body{
    margin-top: 10px;
}
.ncbi-select-option{
    background-color: transparent;
    border: 1px solid darkgrey;
    border-radius: 2px;
}


/*
    Advanced Search
*/
.ncbi-advanced-search-panel{
    height: 650px;
}

.ncbi-banner-title{
    font-size: 18px;
    font-weight: bold;
    color: #707B7C;
}
.ncbi-quick-filter{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    font-size: 13px;
}
.ncbi-quick-filter li{
    color: dodgerblue;
}
.ncbi-quick-filter li:hover{
    cursor: pointer;
    color: #1A5276;
}
.ncbi-advanced-search-form-body{
    margin-top: 10px;
    font-size: 13px;
}

.ncbi-advanced-search-form-body input{
    font-size: 12px;
    border: 1px solid darkgrey;
    border-radius: 2px;
}
.ncbi-advanced-search-form-body label{
    margin: 5px 0;
}


/*
    Search Results
*/
.ncbi-search-count{
    font-size: 14px;
    color: #707B7C;
    font-weight: bolder;
    max-width: 50%;
}
.ncbi-item-count{
    font-size: 14px;
    color: #707B7C;
    font-weight: bolder;
}

.ncbi-search-result-panel{
    border-left: 1px solid lightgray;
}
.ncbi-search-meta{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.ncbi-search-meta li{
    display:inline;
    padding-inline-start: 0;
}

.ncbi-pageno-form{
    position: fixed;
    right:    15px;
    bottom:   15px;
    z-index: 999;
    font-size: 12.5px;
    color: #616A6B;
}

.ncbi-page-input{
    width: 30px;
    border-radius: 5px;
    border: 1px solid #515A5A;
}

.ncbi-search-item{
    margin-bottom: 40px;
}
.ncbi-search-item-title{
    font-size: 20px;
}
.ncbi-search-item-author{
    font-size: 14px;
    color: #515A5A;
    font-weight: bolder;
}

.ncbi-search-item-date{
    font-size: 14px;
    color:  #5F6A6A;
}

.loading{
    width: auto;
    height: 200px;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {

}
